.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
      text-align: center;
      padding-top: 50px;
  }

  .jumbotron {
      margin-top: 50px;
      margin:auto;
  }