
<h1 style="margin-left: 20px;">About Me</h1> 

<h2 style="margin-left: 30px;">Problem Solving Engineer and Data Enthusiast</h2>

<mat-card-content class="mat-card-content">
    <div class="column1">
        <img src="../../assets/pics/aboutmepic.jpg" style=" height: 200px; width: auto; border-radius: 50%;" >
    </div>

    <div class="column2" >
        <p>Hi, my name is Sam! I am an Aeronautical and Mechanical engineering graduate of 
            Rensselaer Polytechnic Institute who has spent the majority of my career since 
            graduation working as a Base Support Engineer at American Airlines.</p>
        
        <p>
            As an engineer at American, my day to day work involved designing structural repairs for 
            aircraft, interpreting and communicating manufacturer details to production staff, and managing 
            the engineering project requirements for up to 3 aircraft at a time. In addition to these responsibilities, 
            I was selected for several process improvement projects at American. I was the lead engineer tasked with 
            redefining the aircraft damage log procedures as well as the procedures used after a large hail or lightning storm. 
            I worked as part of a team exploring drone technology and developing a business case to apply it to American Airlines maintenance and inspection program.

        </p>

        <p>
            My experiences developing solutions to systemic problems as an engineer has led me to a 
            personal interest in programming and data analytics. I have been working to grow my 
            proficiency with Python, SQL, and Tableau in order to improve my ability to gather data 
            and communicate insights in a professional setting.
        </p>
        <p>I built this website to post some of the programming related projects I’m working on in order to share them as well as get feedback. Hope you enjoy!</p>
    </div>
</mat-card-content>

