
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    text-align: center;
}

#container-center {
    margin: auto;
    width: 50%;
    text-align:center;
}

#container-text {
    width: 75%;
    margin: auto;
    padding: 25px;
    text-align: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
}