<!--<div class="banner">
    <input type="file" accept="image/*" id="banner-upload" hidden>
    <label for="banner-upload" class="banner-upload-btn"><img src="img/upload.png" alt="upload banner"></label>
</div>
<div class="post">
    <textarea type="text" class="title" placeholder="post title..."></textarea>
    <textarea type="text" class="article" placeholder="Start writing here..."></textarea>
</div>
<div class="post-options">
    <button class="btn dark publish-btn">publish</button>
    <input type="file" accept="image/*" id="image-upload" hidden>
    <label for="image-upload" class="btn grey upload-btn">Upload Image</label>
</div>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

<script src="../../../firebase.js"></script>
<script src="../editor/editor.component.ts"></script>

<script>

</script>-->

