<!--<mat-toolbar color="primary"><https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1> Sam Stat Check</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="''"> Home </a>
      <a mat-button [routerLink]="'/aboutme'"> About Me </a>
      <a mat-button [routerLink]="'/posts'"> Posts </a>
      <a mat-button [routerLink]="'/contact'" disabled> Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>-->
<nav class="navbar">
  <a href="/">
  <img src="../assets/img/chart-pie-solid.svg" class="logo" alt="" style="height: 30px; width: 30px;" >
</a>
  <ul class="links-container">
      <li class="link-item"><a href="/" class="link">home</a></li>
      <!--<li class="link-item"><a href="/editor" class="link">editor</a></li>-->
  </ul>
</nav>

<router-outlet></router-outlet>