<mat-toolbar color="primary"><!--https://www.techiediaries.com/angular-material-navigation-toolbar-sidenav/-->
  <mat-toolbar-row>
    <!--<button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>-->
    <h1> Sam Stat Check</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="''"> Home </a>
      <a mat-button [routerLink]="'/aboutme'"> About Me </a>
      <a mat-button [routerLink]="'/posts'"> Posts </a>
      <a mat-button [routerLink]="'/contact'" disabled> Contact </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>